@model List<NotifyService.Data.USERSERVICEORDER>

<p>@ViewBag.member_counter</p> 
<!-- @using (Html.BeginForm("ShowMember", "Item", FormMethod.Post, null))
{

    
} -->
@{
string a = "";

}
@foreach (var p in Model)
{
    if (a != p.actionName){
        a = p.actionName;
         <div class="alert alert-primary" role="alert">@a 通知</div>
    } 
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            @p.serviceName
        </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
            @Html.ActionLink("Delete", "DeleteNotify", "Item",new{member_counter = @ViewBag.member_counter ,serviceName = p.serviceName,actionName = p.actionName},new{@class="btn btn-outline-danger"})
        </div>
    </div>
 
    <br>

}


